* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionei Recentemente (15/11/2023) */
  font-family: 'Rajdhani', sans-serif;
  transition: .3s ease;
}

/* Adicionei Recentemente (15/11/2023) */
html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* ----------------------------------- */

body {
  background: #F0F0F5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body, input, button {
  /* font-family: Roboto, Arial, Helvetica, sans-serif; */
  /* Adicionei Recentemente (15/11/2023) */
  font-family: Inter, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  /* Adicionei Recentemente (15/11/2023) */
  font-family: Rajdhani;
}

h1, h2 {
  font-weight: 600;
}