:root {
  --primary-color: #05F283;
  --title-color: #0B1C26;
  --text-color: #6C6C80;
  /* Adicionei Recentemente (15/11/2023) */
  --hover-color: #BDF094;
  // --pale-green: hsl(96, 75%, 89%);
  --green-wave-light: rgba(5, 242, 131, .1);
  --green-wave-regular: rgba(5, 242, 131, .3);
  --green-wave-medium: rgba(5, 242, 131, .5);
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 18%);
  --text-color: hsl(240, 1%, 48%);
  /* --background-color: hsl(220, 10%, 94%); */
  --background-color: #F0F0F5;
  --grey-text: rgb(190, 190, 190);
  --input-color: hsl(330, 12%, 97%);
  --item-card-color: hsl(120, 5%, 88%);
  --item-card-hover: hsl(120, 27%, 87%);

  // --biggest-font-size: 2.5rem;
  --biggest-font-size: 3.5rem;
  // --h1-font-size: 1.5rem;
  --h1-font-size: 2.5rem;
  // --h2-font-size: 1.25rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.15rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smallest-font-size: .75rem;
}

.activity {
  flex-basis: 40%;

  .heading {
    width: 100%;
    justify-content: space-between;

    h1 {
      // font-size: var(--h2-font-size);
      font-size: var(--h4-font-size);
      color: var(--black-color);
      font-weight: 700;
    }

    .button {
      border: 1px solid transparent;
      font-size: var(--normal-font-size);
      font-weight: 500;
    }

    .button:hover {
      border: 1px solid var(--primary-color);
    }
  }

  .activity-content {
    margin-top: 1rem;

    display: grid;
    align-items: center;
    gap: 2rem;

    .single-location {
      align-items: flex-start;
      justify-content: space-between;
      
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0 2px 4px var(--item-card-color);
        margin-right: 1rem;
      }

      .location-details {
        flex: 1;

        .name {
          // font-size: var(--h3-font-size);
          font-size: var(--normal-font-size);
          font-weight: 600;
          color: var(--black-color);
          display: block;
        }

        small {
          font-weight: 500;
          color: var(--text-color);
          font-size: var(--small-font-size);
        }
      }

      .duration {
        color: var(--text-color);
        font-weight: 500;
        // font-size: var(--smallest-font-size);
        font-size: var(--small-font-size);
      }
    }
  }
}

// MEDIA QUERIES ==================>
@media screen and (max-width: 918px) {
  .activity {
    width: 100%;
  }
}